$oitavaBase: 2;
$oitavas: 4;
$oitavaCorte: ($oitavaBase + 1);

.partitura {
	width: 100%;
	font-size: 14px;
	line-height: 1.0em;
	padding: 2.0em 0.0em;
	
	.pauta {
		display: block;
		width: 100%;
		position: relative;
		
		&.pauta-pausa {
			display: block;
			width: 100%;
			height: 4.5em;
		}
		
		.linhas {
			width: 100%;
			height: 100%;
			z-index: 0;
			border-left: 2px solid #000;
			border-right: 1px solid #000;
			
			.linha {
				border-bottom: 1px solid #000;
				margin-top: 1.0em;
				
				&:first-child {
					margin-top: 0;
				}
			}
		}
		
		.notas {
			position: absolute;
			top: -2.0em;
			bottom: -2.0em;
			left: 0px;
			width: 100%;
			z-index: 9;
			
			.clave {
				display: block;
				float: left;
				padding: 0.5em 0em 0em;
			}
			
			.items {
				position: relative;
				height: 100%;
				/*
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				// */
				.item {
					text-align: right;
					display: block;
					float: left;
					height: 5.2em;
					flex-grow: 8;
					margin: 1.6em 0.85em 0.0em;
					position: relative;
					
					.nota {
						position: absolute;
						bottom: 0em;
						left: 0em;
						background-color: #f00;
					}
				}
			}
		}
		
		&.pauta-f
		{
			.notas .items .item
			{
				@for $j from 0 through 3
				{
					@for $i from 0 through 7
					{
						.nota[data-grau="#{$i/2}"][data-oitava="#{$j + $oitavaBase}"] {
							background-color: transparent;
							bottom: -2.14em + ($j*3.7) + ($i*0.535) !important;
						}
					}
				}
				
			}
		}
		
		&.pauta-g
		{
			.notas .items .item
			{
				@for $j from 0 through 3
				{
					@for $i from 0 through 7
					{
						.nota[data-grau="#{$i/2}"][data-oitava="#{$j + $oitavaCorte}"] {
							background-color: transparent;
							bottom: -1.08em + (($j - 1)*3.7) + ($i*0.535) !important;
						}
					}
				}
			}
		}
	}
}