<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">{{title}}</a>
		<a href="#" materialize="sideNav" [materializeParams]="[{closeOnClick:true}]" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		
		<ul class="right hide-on-med-and-down">
			<li *ngFor="let item of menuItems">
				<a [routerLink]="item.url">{{item.label}}</a>
			</li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li *ngFor="let item of menuItems">
				<a [routerLink]="item.url">{{item.label}}</a>
			</li>
		</ul>
		
		<form class="right">
			<div class="input-field" id="tempo">
				<input type="number" id="campoTempo" [(value)]="tempo" (change)="setTempo($event)" min="1" max="400" step="1"><span>bpm</span>
				<label for="campoTempo" class="active">Andamento</label>
			</div>
		</form>
	</div>
</nav>

<main>
	<router-outlet></router-outlet>
</main>

