.teclado {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	flex-grow: 1;
	width: 100%;
	height: 10.0em;
	margin: 1.0em auto 2.0em;
	font-size: 8px;
	
	.tecla {
		position: relative;
	}
}