<div class="container-fluid">
	<h3>Escalas</h3>
	
	<h4>Tônica</h4>
	<div class="botoes row">
		<div class="btn nota col s1" [class.disabled]="key == nota" *ngFor="let nota of helperEscalas.notas" (click)="changeKey(nota)">
			{{nota}}
		</div>
	</div>
	
	<ng-container *ngFor="let escala of escalas">
		<h5>{{escala.tipo}}</h5>
		<app-partitura-simples [key]="escala.tonica" [notas]="escala.notas"></app-partitura-simples>
		<div class="detalhes">
			<div class="notas items">
				<div class="nota item" *ngFor="let nota of escala.notas">
					{{nota.nome}}
				</div>
			</div>
			<div class="graus items">
				<div class="grau item" *ngFor="let grau of escala.graus">{{romanos[grau]}}</div>
			</div>
			<div class="funcoes items">
				<div class="funcao item" *ngFor="let funcao of escala.funcoes">
					{{funcao}}
				</div>
			</div>
			<div class="intervalos items">
				<div class="intervalo item empty"></div>
				<div class="intervalo item" *ngFor="let intervalo of escala.intervalos">
					<span class="step">{{(intervalo == 1 ? "Semitom": (intervalo > 2 ? "Tom e meio" : "Tom"))}}</span>
				</div>
			</div>
		</div>
	</ng-container>
	
	
</div>