<div class="container">
	
	<div class="row">
		<div class="col s12">
			<app-piano #piano [teclas]=teclas></app-piano>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<app-partitura #partitura></app-partitura>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12">
			<div class="buffer">
				<div class="chip nota" *ngFor="let nota of buffer" [attr.data-altura]="nota.altura" [attr.data-oitava]="nota.oitava" [attr.data-duration]="nota.duration">
					<span class="nome">{{nota.nome}}</span>
					<span class="altura">{{nota.oitava}}</span>
					<span class="duration">{{nota.duration}}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row botoes">
		<div class="col s12 m6 offset-m3 center">
			<button class="btn btn-default" (click)="playSong()">Tocar música</button>
		</div>
		
		<div class="col s12 m6 center">
			<button class="btn btn-default" (click)="playCicloGenerico(1,4)">Ciclo de segunda menor</button>
			<button class="btn btn-default" (click)="playCicloGenerico(2,4)">Ciclo de segunda maior</button>
			<button class="btn btn-default" (click)="playCicloGenerico(3,3)">Ciclo de terça menor</button>
			<button class="btn btn-default" (click)="playCicloGenerico(4,3)">Ciclo de terça maior</button>
			<button class="btn btn-default" (click)="playCicloGenerico(5,2)">Ciclo de quarta justa</button>
			<button class="btn btn-default" (click)="playCicloGenerico(6,1)">Ciclo de quarta aumentada/quinta diminuta</button>
		</div>
		
		<div class="col s12 m6 center">
			<button class="btn btn-default" (click)="playCicloGenerico(7,0)">Ciclo de quintas (quinta justa)</button>
			<button class="btn btn-default" (click)="playCicloGenerico(8,0)">Ciclo de sexta menor</button>
			<button class="btn btn-default" (click)="playCicloGenerico(9,0)">Ciclo de sexta maior</button>
			<button class="btn btn-default" (click)="playCicloGenerico(10,0)">Ciclo de sétima maior</button>
			<button class="btn btn-default" (click)="playCicloGenerico(11,0)">Ciclo de sétima maior</button>
			<button class="btn btn-default" (click)="playCicloGenerico(12,0)">Ciclo de oitava justa</button>
		</div>
		
	</div>
	
	
</div>

